:root{
    --primary-color: #024e76;
    --secondary-color: #39a6b2;
    --tertiary-color: #36444b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

header{
    background-color: var(--tertiary-color);
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    height: 70px;
    width:100%;
    align-items: center;
}


#name{
    text-decoration:none;
    color:var(--tertiary-color);
    background-color: var(--secondary-color);
    font-weight: bold;
    justify-content:flex-end;
    align-items:center;
    padding: 2px;
    flex-wrap:wrap;
    font-size:36px;
}

header nav{
    margin: auto 20px;
}

.nav-items{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    list-style:none;
}

.nav-items a {
    color:var(--secondary-color);
    padding: 10px;
    font-weight:bold;
    font-size: 18px;
    text-decoration:none;
}

.hero{
    width:100%;
    height:200px;
    background-image: url("../images/hero_bg.jpg");
    background-size:cover;
    background-attachment: fixed;
    background-position: 10%;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}


.highlighted-text{
    margin-right: 0%;
    background-color: var(--secondary-color);
    padding:1%;
    color: var(--tertiary-color);
}

.subheader{
    width: 25%;
    border-right:3px solid var(--primary-color);
    font-size: 44px;
    color: var(--primary-color);
    text-align: right;
    padding-right: 10px;
}

#profile-pic{
    width:70%;
    height:auto;
}

.subsection{
    display:flex;
    padding: 20px;
}

#bio{
    width: 70%;
    color: var(--tertiary-color);
    text-align:left;
    padding-left:10px;
}

#project-section{
    display:flex;
    width: 70%;
    justify-content:start;
    margin-left:10px;
    flex-wrap:wrap;
}

.project{
    margin-bottom:10px;
    margin-right: 20px;
    position:relative;

}
.project h4{
    padding:10px;
    position:absolute;
    top: 70%;
    left: 0px;
}

.project img{
    border: 5px solid var(--secondary-color);
    max-height: 200px;
    height: auto;
}

#contact-info{
    width: 70%;
    margin-left: 10px;
    height: 20%;
    margin:auto;
}

#contact-info ul{
    list-style:none;
    flex-wrap:wrap;
    justify-content:space-around;
    display:flex;
    align-items:center;
}

#contact-info ul li a{
    text-decoration:none;
    font-size: 18px;
    color:var(--primary-color);
}

.icon{
    height:35px;
    width:auto;
}

