:root{
    --primary-color: #024e76;
    --secondary-color: #39a6b2;
    --tertiary-color: #1e2c33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

header{
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    margin:5%;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    height: 200px;
}

header h1{
    height:20%;
    background-color: var(--secondary-color);
    color:var(--tertiary-color);
    font-weight: bold;
    align-items:flex-end;
}

header nav a {
    text-decoration: underline;
    color:var(--secondary-color);
}

header nav{
    margin: 7px 0;
}

header nav ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    list-style:none;
}

hero{
    width:100%;
    height:100px;
    background-image: url("../images/hero_bg");
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}
